@charset "UTF-8";


.lt_search{
    padding: 10px;
    position: relative;
    margin: 0;
}
.lt_search .lt_btn_search{
    height: 34px;
    font-size: 12px;
}
.lt_search .search-btn{
    position: absolute;
    top: 10px;
    right: 10px;
}

/*表单排序*/
.lt_order{
    width: 100%;
    margin: 0;
}
.lt_order li{
    float: left;
    width: 25%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #eeeeee;
}
.lt_order a{
    display: block;
    color: #000;
    font-size: 12px;
}

.lt_order a.now{
    color: darkorange;
}