*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
/* 登录页面 */
.bg_login{
    background-color: #222d32;
}

.mt_150{
    margin-top: 150px;
}
.mt_150 h4{
    text-align: center;
}

.mb_20{
    margin-bottom: 20px;
}
html,
body{
    height: 100%;
}

.table.table-bordered th{
    text-align: center;
}
.table.table-bordered  td{
    text-align: center;
    vertical-align: middle;
}

/* 侧边栏 */
.lt_aside{
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    top: 0;
    left: 0;
    transition:all 1s;
    z-index: 999;
}
.lt_aside.now{
    left: -180px;
}
/* 商标 */
.lt_aside .lt_brand{
    width: 100%;
    height: 50px;
    background-color: #367fa9;
}
.lt_brand a{
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 900;
}
/* 用户 */
.lt_user{
    width: 100%;
    height: 150px;
}
.lt_user img{
    /* margin-top:20px;  */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;  
   margin: 30px auto 0;
}
.lt_user span{
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    display: block;
}
/* 菜单 */
.lt_menu ul li a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    color: #aaa;
    border:3px solid transparent;
}

.lt_menu .child a{
    padding-left: 50px;
}

.lt_aside .lt_menu a.now {
    color: #fff;
    border-left-color:#069;
    background-color: #1d1f21; 
}
/* 内容 */
.lt_section{
    width: 100%;
    height: 100%;
    padding-left:180px; 
    transition:all 1s;
   
}

.lt_section.now{
    padding-left:0px; 
}

.lt_section .lt_nav{
    height: 50px;
    background-color: #3c8dbc;
    margin-bottom: 20px;
    padding: 0 20px;
}
.lt_section .lt_nav a{
  line-height:50px; 
  font-size: 18px;
  color: #fff;
}


.lt_content{
    padding: 0px 15px;
}

/* 主页内容 */
.pic_left,
.pic_right{
    height: 400px;
    /* background-color: pink; */
    width: 45%;  
}


/* 图片 */
.img_box{
    width: 82px;
    height: 34px;
    position: relative;
}
    .img_box:hover button {
        color: #333;
        background-color: #e6e6e6;
        border-color:#adadad;
}
.img_box .img_add{
    width: 82px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
}